.card-img, .card-img-bottom, .card-img-top{
    width: auto !important;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.container div{
    margin: 20px;
    color: white;
    justify-content: center;
    height: 500px;
}

.container div img{
    border-radius: 15px;
    filter: brightness(90%);
    transition: all 500ms ease-out;
}

.container div img:hover{
    filter: brightness(100%);
}

.text{
    position: relative;
    top: -120px;
}

body{
    background: black;
}

.cardImg{
    height: 500px;
    width: 300px !important;
}

.thing{
    display: inline-flex;
    text-align: center;
}


