.content{
    display: flex;
    flex-direction: row;
}

.rightpart{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftpart{
    width: 50%;
    margin: 20px;
}

.images{
    display: flex;
    justify-content: center;
    margin : 10px;

}

img{
    margin: 5px;
}

.rightpart h3{
    color: rgb(106, 106, 106);
    text-align: center;
    font-size: 20px;
    justify-content: center;
    margin: 20px;
}

.promo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.promo img{
    width: 60px;
    height: auto;
}

.listImage{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: row;
}

.cards img{
    height: 400px;
    width: auto;
}

.cards{
    text-align: center;
}



@media screen and (max-width: 600px) {
    .content {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    .rightpart{
        width: auto;
    }

    .leftpart{
        width: auto;
    }
  }

.lastpart{
    margin: 12px;
}

.devis{
    color: #e7ae85;
}

.devis:hover{
    color: #eea069;
}