<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Les portraits de Joy</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Medula+One&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/85c1ddf497.js" crossorigin="anonymous"></script>
<body>
  <header>

  </header>
  {% block content %}
    <section class="about">
        <div class="aboutPart">
          <img src="/static/IMAGES/head_secondpart.png" alt="Portrait de sandrine">
          <div>
            <h2>À propos de moi</h2>
            <h3>"Les rencontres forgent une destinée"</h3>
            <p>Bonjour et merci de visiter mon site !  Je m'appelle Sandrine Bourdon et suis une dessinatrice au service de vos émotions. 
                Pour ma petite histoire, je suis née dans le nord de la France en 1987. C'est en Belgique que je passe mon enfance et à cette période ma mère me fait découvrir le sable coloré, la peinture sur soie, les moulages en plâtres et la peinture. Quant à mon père, il me partage sa passion à créer des maquettes de vielles voitures en papier bristol ainsi que les modèles réduits à monter et vernir. Mes cadeaux préférés ? les numéros d'art ! Voyez que d'aussi loin que je m'en souvienne l'art fait partie intégrante de ma vie, une passion évidante ! </p>
              <p> Au collège, de retour dans le Nord (59), mon professeur d'arts plastiques me dirige vers un concours d'art pour entrer dans une École supérieure des arts appliqués et du textile, en 2006 j'y obtient mon diplôme de Dessinatrice Maquettiste en arts graphiques . </p>
              <p>Je vais commencer par reproduire des peintures pour des proches que j'offre lors des anniversaires où événements spéciaux puis une fois installée dans l'Indre (36) en 2008, je me concentre sur le portrait pour des collègues de travail en complément d'activité , l'idée d'en vivre un jour commence à naître grâce à eux.</p>
              <p>        En 2014 je m'offre un nouveau départ en Aveyron (12), ma vie y change et pour toujours, quatre ans plutard je rencontre mon conjoint Clément et en juin 2019 Héliano, notre fils, nous apprend à devenir parents ! 
                C'est à partir de là qu'encouragée par mes proches, ma belle famille et toutes ces belles rencontres de mon parcours que je me lance dans les démarches pour réaliser enfin  mon rêve de devenir  dessinatrice portraitiste professionnelle. En octobre 2020, après plusieurs mois d'impatience administrative, je reçois mon immatriculation d'artiste-auteur auprès de L'URSSAF Limousin et commence à réaliser mes premières commandes plus passionnée que jamais. Merci à vous toutes et tous de m'inspirer par vos projets qui me dévoilent une part précieuse de votre histoire!</p></p>
          </div>
        </div>
      </section>
  {% endblock %}
</body>
</html>