<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <section class="firstPart">
        <div>
            <img src="/static/IMAGES/hero.png" alt="">
            <h2 class="title">Merci pour vos retours, ils sont pour moi une grande source de motivation! </h2>
            <h1 class="title1">Avis</h1>
            <img class="avis" src="/static/IMAGES/avis1.png" alt="avis 1">
        </div>
        <img  class="avis"  src="/static/IMAGES/avis2.png" alt="avis2">
    </section>
    <section class="secondPart">
        <img  class="avis" src="/static/IMAGES/avis3.png" alt="avis3">
        <img class="avis"  src="/static/IMAGES/avis4.png" alt="avis4">
    </section>
    {% endblock %}
   
</body>
</html>