body{
    background-color: #ffffff;
}

header{
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{grid-column: 2/12;}

#container{
    display: grid;
    grid-template-columns: 50px repeat(12, 8.3%) 50px ;
    grid-template-rows: 70px;
}

a{
   
    text-decoration: none;
    font-family: muli,sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 20px;
}

h1{
    font-family: 'A DAY WITHOUT SUN', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 400;

}


h2{
    font-family: 'Calligraffitti', cursive;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;    
    
}

h3{
    font-family: 'Aboreto', cursive;
    color: black;
}

#about::before {
    height: 20px;
    content: '';
    width: 20px;
    background-color: #d695a3;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 180px;
    top: 30px;
    margin-left: 20px;
  }

#creations::before{
    height: 20px;
    content: '';
    width: 20px;
    background-color: #ffb9b3;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 149px;
    top: 30px;
    margin-left: 20px;
}


#services::before{
    height: 20px;
    content: '';
    width: 20px;
    background-color: #d2816b;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 137px;
    top: 30px;
    margin-left: 20px;
}


#tarifs::before{
    height: 20px;
    content: '';
    width: 20px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 125px;
    top: 30px;
    margin-left: 20px;
}


#avis::before{
    height: 20px;
    content: '';
    width: 20px;
    background-color: #d6b8f0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 115px;
    top: 30px;
    margin-left: 20px;
}


.description{
    margin-bottom: 10px;
}



.icon{
    color: rgb(199, 104, 93);
}




img{
    border-radius: 5%;
}

h3{
    margin: 3px auto;
}