<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Les portraits de Joy</title>
        <link rel="stylesheet" href="/static/css/nav.css">
        <link rel="stylesheet" href="/static/css/infos.css">
        <link rel="stylesheet" href="/static/css/tarifs.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Medula+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/85c1ddf497.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid md gx-5">
              <a class="navbar-brand" id="navbarText" href="/">Les portraits de Joy</a>
              <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-toggle="navbarIcons" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about/">À propos de moi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/creations/">Mes créations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/infos/">Informations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tarifs/">Tarifs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/avis/">Avis</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    

    {% block content %}        
    {% endblock %}
</body>
</html>