{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les portraits de Joy</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Medula+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85c1ddf497.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

</head>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid md gx-5">
          <a class="navbar-brand" id="navbarText" href="/">Les portraits de Joy</a>
          <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-toggle="navbarIcons" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about/">À propos de moi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/creations/">Mes créations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Informations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tarifs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Avis</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<body>
  <section class="dark-bg" id="hero">
    <div class="container">
      <div class="text-light d-flex flex-column h-100 justify-content-center align-items-center">
        <h1>Les portraits de Joy</h1>
        <h2>Des portraits réalistes fait-main et entièrement personalisables dès 60€ !</h2>
      </div>
    </div>
  </section>
  <section id="services" class="cards">
    <div class="container">
      <div class="row gy-5 justify-content-center" >
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch" style="width: auto;" >
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/women.png" class="card-img-top" alt="...">
            <div class="card-body text-center align-items-center">
              <h5 class="card-title">Portraits de personnes réalistes ou stylisées</h5>
              <p class="card-text">Dans cette galerie vous trouverez des portraits de différents formats, réalisées avec différentes techniques ainsi que des portraits de plusieurs personnes entièrement créé d'après plusieurs photos qui auront permis de les réunir parfois depuis deux mondes ou deux époques !  
                </p>
              <a href="/creations/" class="btn btn-primary">Voir plus</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch" style="width: auto;">
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/wolf.png" class="card-img-top" alt="...">
            <div class="card-body text-center align-items-center">
              <h5 class="card-title">Portraits d’animaux</h5>
              <p class="card-text">En cliquant ci-dessous vous découvrez de merveilleuse petites ou grande boules de poils et/ou d'amour qui se prête au jeu d'être pris en photo pour que je les immortalise en dessin. Vous croiserez le regard de chats, de chiens, de lapin, de léopard et j'espère tant d'autres qu'ils soient domestiques ou non ! </p>
              <a href="/creations/" class="btn btn-primary">Voir plus</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch" style="width: auto;">
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/hands.png" class="card-img-top" alt="...">
            <div class="card-body text-center align-items-center justify-content-center d-flex">
              <h5 class="card-title">Autres sujets...</h5>
              <p class="card-text">Un petit monde de possibilités qui s'éloigne du portrait mais que j'affectionne tout autant car mon monde c'est la création ! Je vous invite donc à cliquer ci-après.</p>
              <a href="/creations/" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    </div>
  </section>
  <section class="abt">
    <img src="/static/IMAGES/head_secondpart.png" alt="">
    <div>
      <h3>Vous souhaitez en savoir plus à propos de moi ?</h3>
      <button><a href="/about/">C'est par ici !</a></button>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    
</body>
<footer>

</footer>
</html>
{% endblock %}