{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les portraits de Joy</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/85c1ddf497.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

</head>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid md gx-5">
          <a class="navbar-brand" id="navbarText" href="#">Les portraits de Joy</a>
          <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-toggle="navbarIcons" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Mes créations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tarifs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Avis</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<body>
  <section class="dark-bg" id="hero">
    <div class="container">
      <div class="text-light d-flex flex-column h-100 justify-content-center align-items-center">
        <h1>Les portraits de Joy</h1>
        <h2>Des portraits réalistes fait-main et entièrement personalisables dès 60€ !</h2>
      </div>
    </div>
  </section>
  <section id="services" class="cards">
    <div class="container">
      <div class="row gy-5 justify-content-center" >
        <div class="col-12 col-md-6 col-lg-4" style="width: auto;" >
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/hero.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Portraits de personnes réalistes ou stylisées</h5>
              <p class="card-text">Vous souhaitez réaliser le portrait d’une amie ? D’un ainé avec son petit-fils ? 
                Je peux réaliser toute sortes de portraits (différents formats, styles) et réunir plusieurs époques/mondes...</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="width: auto;">
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/wolf.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Portraits d’animaux</h5>
              <p class="card-text">Votre chat bien aimé n'est plus là ? Je vous propose de le dessiner pour en garder un souvenir qui dure dans le temps !</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4" style="width: auto;">
          <div class="card" style="width: 18rem;">
            <img src="/static/IMAGES/hero.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Autres sujets (doudou, architecture, voitures...)</h5>
              <p class="card-text">Vous avez un autre idée en tête ? Pas de problème ! Je peux m'adapter à un très large panel de demande</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
        </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    
</body>
<footer>

</footer>
</html>
{% endblock %}