{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les portraits de Joy</title>
</head>
<body>
    <h1>Hello Django !</h1>
    {% for creations in creations %}
    <h2>{{ creations.titre }}</h2>
    {% if creations.photo %}
    <img src="{{ creations.photo }}">
    {% else %}
    <h3>No image</h3>
    {% endif %}
    
    
    <p>{{ creations.description }}</p>
    {% endfor %}
</body>
</html>

{% endblock %}