<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Medula+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85c1ddf497.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    {% block content %}
    <section class="intro">
        <div class="photos">
            <img src="/static/IMAGES/hero.png" alt="">
            <img src="/static/IMAGES/hero.png" alt="">
            <img src="/static/IMAGES/hero.png" alt="">
            <img src="/static/IMAGES/hero.png" alt="">
        </div>
        <h3>Un dessin unique et personnalisable réalisé à la main avec passion!</h3>
        <h1>Informations</h1>
        <p>Vous avez envie d'un cadeau authentique, riche en émotion, pour passer votre message d'amour à un proche lors d'une occasion particulière ou vous offrir une œuvre unique pour compléter la décoration de votre mur des souvenirs ? 
        Je vous propose d'immortaliser une ou plusieurs photo(s) souvenir de personne(s) ou animal qui ont marqué votre vie où celle de vos proches, en un dessin unique et personnalisable aussi bien sur le support, la couleur ou la technique.</p>
        <h3>Quels sont mes délais ?</h3>
        <p>Comptez 15 jours à 1 mois en fonction du nombre de sujets sur votre commande ainsi que de ma liste d'attente (pensez à anticiper pour Noël car en novembre mon planning et souvent complet) </p>
        <h3>Comment me passer commande ?</h3>
        <ul>
            <li>Contactez-moi par sms, par mail, via messenger ou encore instagram pour me parler de votre projet (lien  "contact") je vous répondrai au plus vite pour en discuter et vous conseiller si besoin. 
            </li>
            <li>Pour une commande urgente envoyez-moi votre/vos photo/s  accompagné de vos envies pour celle-ci directement par mail en écrivant "COMMANDE URGENTE + DATE DE LIVRAISON SOUHAITÉE " dans la barre d'objet</li>
        </ul>
    </section>
    <section class="howto">
        <h2>Comment choisir la photo ?</h2>
        <p>Si vous désirerez un rendu réaliste ou un dessin grand format, il sera important de bien choisir la ou les photos que vous m'enverrez, pour ce faire elle devra repondre à plusieurs critères. (voir plus) </p>
        <div>
            <img src="/static/IMAGES/hero.png" alt="">
            <ul>
                <li>Photo sans filtres, ni retouches (ne recadrez pas je m'en occuperai) </li>
                <li>Nette  (en zoomant vous pouvez voir la pupille facilement) </li>
                <li>Une bonne luminosité (éviter les contre-jour) </li>
            </ul>
        </div>
        <h3>À savoir</h3>
        <p>Pour votre projet de réunir plusieurs personnes qui ne seraient pas sur la même photo, je peux, en fonction de la qualité, les réunir en un seul dessin.﻿ Il m'est aussi possible de reproduire une photo ancienne (style réaliste ou rétro) . 
            Dans tous les cas si vous voulez savoir si je suis en mesure de reproduire votre photo ? Envoyez-la moi par mail en allant sur l'onglet "contact" et je vous dirai s'il me sera possible ou non de la reproduire ( je préfèrerai, dans certains cas, vous refuser un projet plutôt que de vous décevoir, croisons les doigts cela n'est pas encore arrivée !) </p>
    </section>
    <section class="techniques">
        <img src="/static/IMAGES/hero.png" alt="">
        <h2>Techniques & supports</h2>
        <p>De nombreuses possibilités s'offrent à vous afin de personnaliser votre portrait réaliste d'après photo(s) sur COMMANDE car en plus du modèle, de leurs nombres et de la couleur, vous aurez le choix entre différentes techniques et leur support que j'aime utiliser et pratique depuis de nombreuses années. Chaque techniquEs suivantes aura son support adéquat et un entretien adapté:</p>
        <img src="/static/IMAGES/hero.png" alt="">
        <h3>Crayon graphite ou crayons polychrome Faber Castell & papier 120g/m2</h3>
        <p>J'y applique du fixatif une fois le portrait terminé. Idéal pour un rendu réaliste cette technique dure très bien dans le temps.</p>
        <img src="/static/IMAGES/hero.png" alt="">
        <h3>Aquarelle Winsor et Newton & papier 300g/m2</h3>
        <p>J'apprécie aussi cette technique qui me permet de rajouter des détails plus fins, une fois sec, aux crayons pour un peu plus de réalisme ou simplement attirer l'attention sur ce que vous souhaitez mettre en valeur (les yeux !?)</p>
        <img src="/static/IMAGES/hero.png" alt="">
        <h3>Peinture acrylique* & châssis entoilé 400g/m2</h3>
        <h3>*Un supplément est à prévoir, voir dans mes <a href="/tarifs/">tarifs</a></h3>
        <p>Protection du tableau avec un vernis spécial acryliques (anti-uv, écologique, inodore). 
            Technique idéale pour faire ressortir la couleur  et la matière . </p>
        <h3>À savoir</h3>
        <p>Pour les papiers les grammages diffèrent en fonction de la technique choisie et de nombreux choix de teintes sont possibles, du blanc au noir en passant par des demi-teintes grises, beiges ou colorés (si vous le souhaitez je vous guiderai dans ce choix). </p>
    </section>
    <section class="conseils">
        <img src="/static/IMAGES/hero.png" alt="">
        <h2>Conseils d'encadrement</h2>
        <p>Pour valoriser votre portrait, je vous conseille de choisir :</p>
        <div>
            <img src="/static/IMAGES/hero.png" alt="">
            <ul>
                <li>Un cadre neutre (blanc, bois, noir, alu) et à fines moulures, vous devez voir l'œuvre et non le cadre en premier, inspirez-vous d'une couleur du dessin. 
                </li>
                <li>Un passe-partout blanc(ou des blancs colorés assorti au dessin) d'environ 5cm par côté, il sera la transition entre le dessin et le cadre, il apportera luminosité et protection indispensable entre le verre et le dessin. 
                </li>
                <li>Un verre, si possible, anti-uv (les cadres plexi vont bien aussi ! ) . 
                </li>
                <li>Un emplacement idéalement lumineux sur un meuble ou un mur à l'abri de l'humidité et d'une source de lumière directe (évitez de placer une lampe forte qui éclaire le dessin juste à côté ) . </li>
            </ul>
        </div>
    </section>
    <section class="autre">
        <h2>Autre</h2>
        <p>Même si je me suis focalisée sur le portrait ces dernières années, plusieurs options sont possibles dans ma passion artistique , envoyez-moi une photo ou un lien vers une image (en vous assurant qu'elle soit libre de droit) et je pourrai vous la reproduire sur commande après devis gratuit:</p>
        <ul>
            <li>Des paysages, natures mortes et nus artistiques</li>
            <li>Le doudou de vos petitous</li>
            <li>la façade de la maison de famille</li>
            <li>Camion, voiture, moto, avion, train, bateau....</li>
            <li>Peinture et fresque murale d'intérieur , trompe l'œil... (uniquement secteur Aveyron - 12 )</li>
        </ul>
    </section>
    {% endblock %}
</body>
</html>