<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <section class="content">
        <div class="leftpart">
            <div class="images">
                <img src="/static/IMAGES/devis.png" alt="">
                <img src="/static/IMAGES/safePayment.png" alt="">
                <img src="/static/IMAGES/deliver.png" alt="">
            </div>
            <h2 class="title">L'art de reproduire un portrait n'est pas de savoir dessiner un visage dans ses proportions c'est d'en saisir ses émotions.</h2>
            <h1 class="title1">Tarifs</h1>
            <p>Les tarifs ci-dessous s'appliquent uniquement pour les portraits d'une personne ou d'un animal réalisé au crayon ou à l'aquarelle. pour deux sujets ajoutez le montant indiqué en bas du Tableau à la bulle de prix souhaité selon le format (carré ou rectangle). </p>
            <div class="cards">
                <img src="/static/IMAGES/cart1.svg" alt="">
                <img src="/static/IMAGES/cart2.svg" alt="">
                <img src="/static/IMAGES/cart3.svg" alt=""> 
            </div>
        </div>
        <div class="rightpart">
            <div class="promo">
                <img src="/static/IMAGES/coupon.png" alt="coupon réduction">
                <div>
                    <h3>Bénéficiez d'une réduction dès le 3ème sujet</h3>
                    <a href="/#contact">Demandez-moi votre devis gratuit ! </a>
                </div>
                <img src="/static/IMAGES/coupon.png" alt="coupon réduction">
            </div>
            <div class="list">
                <div class="listImage">
                    <img src="/static/IMAGES/devis.png" alt="">
                    <img src="/static/IMAGES/safePayment.png" alt="">
                    <img src="/static/IMAGES/deliver.png" alt="">
                </div>
                <ul>
                    <li>Un devis gratuit, personnalisé (qui vous permettra de créer au delà de ce que je présente ci-après,  contactez-moi pour que l'on parle des possibilités lié à votre beau projet sur mesure ! ) , il vous sera envoyé par mail et une signature électronique suffira à valider votre commande. 
                    </li>
                    <li>Le paiement sécurisé sera mis en place dès validation de votre commande, il vous sera possible de me régler par Virement Bancaire, Paylib ou Paypal ( pour régler en 2 fois sans frais, je vous demanderai 50% de la somme à la validation du projet et les 50% restant pour valider l'envoi). 
                    </li>
                    <li>Les frais de port sont offerts en France métropolitaine, une fois votre commande réglé en totalité et emballé avec soin elle vous sera envoyée , au choix, par la Poste à l'adresse de votre choix  en colis suivi ou par Mondial Relay (si vous n'habitez pas en France je vous invite à me contacter pour vous renseigner en détail sur  le surcoût lié à votre localisation). </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="lastpart">
        <h4 class="title">Il m'est important d'être avec vous du début à la fin, de la création à l'émotion finale et même après en vous proposant, gratuitement bien entendu, deux services importants à mes yeux : </h4>
        <ul>
            <li>Une prévisualisation de votre projet à l'aide d'un montage photo qui vous permettra de conforter votre choix ou de le définir si vous hésitez ( couleur ou noir et blanc, papier coloré ou blanc, cadrage gros plan ou vue d'ensemble). 
            </li>
            <li>Des conseils précieux et personnalisés pour l'encadrement de votre commande que je vous donnerai lors de l'envoi et que vous pourrez transmettre à la personne qui recevra votre cadeau, si elle préfère l'encadrer elle-même.  Je peux aussi à votre demande vous proposer quelques simulations de cadres  en montage photo. à la suite de la réalisation finale de votre projet. </li>
        </ul>
        <p>Pour une réalisation à l'acrylique sur châssis entoilé je vous invite à me contacter afin de vous créer un devis sur mesure car les formats proposés sont différents et la technique un peu plus onéreuse.  (grille à venir sur le site) </p>
    </div>
    
    {% endblock %}  
</body>
</html>